/* Hide the GitHub profile link */
a[href*="github.com"] {
  display: none;
}

/* Style for the site title */
h1 {
  font-size: 3em;         /* Adjust for desired title size */
  text-align: center;     /* Centers the title */
  margin-top: 50px;       /* Optional: adds space from the top */
  font-weight: bold;      /* Optional: makes the title bold */
}

/* Style for the site description */
h2 {
  font-size: 2em;       /* Adjust for desired description size */
  text-align: center;     /* Centers the description */
  margin-top: 10px;       /* Optional: adds some space between title and description */
  font-weight: bold;    /* Optional: normal weight for the description */
  color: #555;            /* Optional: changes text color */
}

